<!DOCTYPE html>
<html>
	<head>
		<title>Palmares</title>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">

        <script src="/js/modernizr.custom.62482.js"></script>
        <script src="/socket.io/socket.io.js"></script>

	</head>
	<body class="enhance" data-enhance="socketIO">
	    <div id="socketMsg"></div>
	    <div id="socketUsers"></div>
		<% if (!user) { %>
        <div id="container" class="enhance" data-enhance="notConnected">
			<p>
			    <a href="/">Home</a> |
			    Log in :
			    <a href="/auth/twitter">Twitter</a> |
                <a href="/auth/facebook">Facebook</a> |
                <a href="/auth/google">Google</a> |
                <a href="/auth/linkedin">LinkedIn</a> |
                <a href="/auth/github">GitHub</a>
			</p>
		<% } else { %>
		<div id="container" <% if (view=="user" && !user.admin) { %> class="enhance connected" data-enhance="connected" data-user-id="<%= user.id %>"<% } %><% if (user.admin) { %> class="enhance admin" data-enhance="admin"<% } %>>
			<p>
			<a href="/">Home</a> | 
			<a href="/account">Account</a> |
			<% if ((view=="global" || view==null) && !user.admin) { %><a href="/">Your choices</a> | <% } %>
			<% if ((view=="user" || view==null) && !user.admin) { %><a href="/palmares">All users results</a> | <% } %>
			<a href="/logout">Log Out</a>
			</p>
		<% } %>
		<%- body %>
		</div>


        <script src="/js/jquery-1.8.2.js"></script>
        <script src="/js/yepnope.1.5.4-min.js"></script>
        <script src="/js/jquery.ba-throttle-debounce.min.js"></script>
        <script src="/js/jquery.enhance.js"></script>
        <script src="/js/script.js"></script>

	</body>
</html>
